.admin-card {
  margin: 10%;
  box-shadow: 0 10px 2px rgb(0 0 0/20%);
  padding: 10%;
  border-radius: 20px;
}
.input-admin {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.add-btn {
  cursor: pointer;
  padding: 10px;
  background-color: blue;
  color: #eee;
  border: none;
  border-radius: 7px;
}
/* .admin-add1
{
  background-color: blue;
  text-decoration: none;

} */
.admin-add{
  text-decoration: none;
     cursor: pointer;
  padding: 5px;
  background-color: blue;
  color: #eee;
  border: none;
  border-radius: 7px;
}
 
