
   .footer-card{
    padding: 40px;
    background-color:rgb(61,58,58);
    margin-top: 30px;
     display: flex;
      justify-content: space-between;
    

   }
    
    .a-links{
        color:#fff ;
          display: block;
    }